<!DOCTYPE html>
<html lang="en">

  <head>

    <% include ./design/style1.ejs %>

  </head>

  <body>

    <!-- Navigation -->

       <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
         <div class="container">
           <a class="navbar-brand" href="#">Experience The New Way Of Shopping</a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarResponsive">
             <ul class="navbar-nav ml-auto">
               <li class="nav-item active">
                 <a class="btn btn-default row-group-item" href="#">Home
                   <span class="sr-only">(current)</span>
                 </a>
               </li>
               <li class="nav-item">
                 <a class="btn btn-default row-group-item" href="http://localhost:1993/profile">profile</a>
               </li>
               <li class="nav-item">
                 <a class="btn btn-default row-group-item" href="http://localhost:1993/cart">Cart


                   <% if(cart){ %>
                      <%= cart.totalQuantity %>
                  <% } else{ %>
                      0
                    <% } %>
                </a>
               </li>
               </li>
               <li class="nav-item">
                 <a class="btn btn-default row-group-item" href="http://localhost:1993/logout">Logout</a>
               </li>
             </ul>
           </div>
         </div>
       </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-lg-3">

          <h2 class="my-4">Shoppers-Point</h2>
          <div class="list-group">

			<a href="#" class="list-group-item active">VIEW PRODUCT</a>

			<a href="http://localhost:1993/addProduct" class="list-group-item">ADD PRODUCT</a>

          </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

          <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                <img class="d-block img-fluid" src="/images/403464409-shopping-wallpapers.jpg" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block img-fluid" src="/images/403464626-shopping-wallpapers.jpg" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block img-fluid" src="/images/403464598-shopping-wallpapers.jpg" alt="Third slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

                <% if(product){ %>
          <div class="row">
                     <% for(var i=0;i<product.length;i++){ %>
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">

          <a href="http://localhost:1993/singleProduct/<%= product[i]._id %>/one"><img class="card-img-top " src="<%= product[i].image1 %>" /></a>
                <div class="card-body">
                  <h4 class="card-title">

                    <a href="http://localhost:1993/singleProduct/<%= product[i]._id %>/one"><%= product[i].pName %></a>
                  </h4>

                  <h5>₹<%= product[i].pPrice %> <s> ₹<%= product[i].pOPrice %> </s> <%= product[i].pDiscount %>% off</h5>
                  <p class="card-text">offers: Special Price </p>
				              <p class="card-text">Size: <%= product[i].pSize %> </p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9734; &#9734;</small>

                  <a href="http://localhost:1993/cart/<%= product[i]._id %>/add" class="list-group-item active">Add To Cart</a>

                </div>
              </div>
            </div>
            <% } %>

          </div>
          <% } else { %>
            <p> No Product find </p>
            <% } %>
          <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">		©2018  All Rights Reserved & Design by - Ajay Jadhav</p>
      </div>
      <!-- /.container -->
    </footer>



  </body>

</html>
